{% extends "layout.html" %}

{% block title %}
    Get a Quote
{% endblock %}

{% block main %}

    <form action="/quote" method="POST">

        <div class="form-group">
            <h1>Enter stocks symbol for quote!</h1>
        </div>
         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>

{% endblock %}